@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-default: var(--font-manrope);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-manrope);
}

.background-image {
  background-image: url('/MEXSTL_green_image.png');
  background-size: cover; /* Ensures the image covers the area without distortion */
  background-position: center;
  background-repeat: no-repeat;
  min-height: 110vh; /* Extends slightly beyond the viewport */
  width: 100vw;
  overflow: hidden;
}

h1{
  font-family: var(--font-outfit)
}