@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-default: var(--font-manrope);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-default), sans-serif;
}
